[Unit]
Description=CEC service
After=syslog.target

[Service]
Restart=always
Type=simple
User=root
Group=root
WorkingDirectory=/home/pi
ExecStart=/usr/bin/python /home/pi/retropie-cec/es-cec-input.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
